<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        <h1>Hello Flask!</h1>

        <h4>My Buttons:</h5>

        <form action="/mailCalendar">
            <button type="submit">Open My Mail & Calendar</button>
        </form>

        <br><br><br>

        <form action="/touchId">
            <button type="submit">Open System Preferences</button>
        </form>

        <br><br><br>

        <form action="/google">
            <button type="submit">Open Google</button>
        </form>
    </body>
</html>